
div.error {
  background-color: #F2DEDE;
  color: #A94442;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;


  p {
    color: #A94442;
    margin: 0;
  }
}
